<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
     <p><strong>
        <% if value.is_a? String   %>
          <%= value %>
        <% elsif value %>
          <% value.each do |val|%>
            <%= val[0] %>
            <br/>
          <% end %>
       <% end %>
     </strong></p>
    <% end %>


    <%= yield %>
  </body>
</html>
